h2 {
  text-align: center;
}

.container-bread {
  background-color: #FBEADF;
  line-height: 2.5em;
  margin: 20px 0px;
}

@media screen and (max-width: (992px)) {
  .container-bread {
    margin-top: 68px;
  }
}
