<app-header class="sticky-top"></app-header>

<div class="container-bread">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item cursor" routerLink="/">Accueil</li>
        <li class="breadcrumb-item active" aria-current="page">Mentions légales</li>
      </ol>
    </nav>
  </div>
</div>

<h2>Mentions légales</h2>

<div class="container">
  <div class="row p-4">
    <div class="col-2">
      <app-logo></app-logo>
    </div>
    <div class="col-10 col-md-8 col-lg-8">
      <p>Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez, sans réserves, les présentes modalités.

        Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet sont :</p>
      <br>
      <p>Éditeur du Site :


        Responsable éditorial :


        Téléphone :

        Email :

        Site Web :

        Hébergement :

        Hébergeur :

        Développement :

       </p>
      <br>
      <p>Conditions d’utilisation :

        Ce site est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable.

        Nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…</p>
        <br>
      <p>Cookies : Le site peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.

        Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.

        </p>
    </div>
  </div>
</div>
