<app-header></app-header>

<div class="container-bread">
  <div class="bread container">
    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Panier</li>
      </ol>
    </nav>
  </div>
</div>

<body>

  <div class="container">
    <h1 class="display font-weight-bold">Optic Privé</h1>

    <div class="card">
      <div class="row">
        <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h2><b>PANIER</b></h2>
              </div>
            </div>
          </div>
          <div class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-2"><img class="img-fluid" src="assets/uploads/glass1.jpeg"></div>
              <div class="col">
                <div class="row text-muted">Lunette de soleil</div>
                <div class="row">Burberry</div>
              </div>
              <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
              <div class="col">44.00 € <span class="close">&#10005;</span></div>
            </div>
          </div>
          <div class="row">
            <div class="row main align-items-center">
              <div class="col-2"><img class="img-fluid" src="assets/uploads/glass4.jpeg"></div>
              <div class="col">
                <div class="row text-muted">Lunette de soleil</div>
                <div class="row">Ray-Ban</div>
              </div>
              <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
              <div class="col">44.00 € <span class="close">&#10005;</span></div>
            </div>
          </div>
          <div class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-2"><img class="img-fluid" src="assets/uploads/glass5.jpeg"></div>
              <div class="col">
                <div class="row text-muted">Lunette de soleil</div>
                <div class="row">Prada</div>
              </div>
              <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
              <div class="col"> 44.00 € <span class="close">&#10005;</span></div>
            </div>
          </div>
          <div class="back-to-shop"><a href="#">&leftarrow;<span class="text-muted"> Continuez vos achats</span></a>
          </div>
        </div>
        <div class="col-md-4 summary">
          <div>
            <h5><b>Récapitulatif</b></h5>
          </div>
          <hr>
          <div class="row">
            <div class="col" style="padding-left:0;">3 PRODUITS</div>
            <div class="col text-right">132.00 €</div>
          </div>
          <form>
            <p>LIVRAISON</p> <select>
              <option class="text-muted">Livraison Standard - 5.00 €</option>
            </select>
            <p>CODE PROMO</p> <input id="code" placeholder="Entrer votre code">
          </form>
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col">TOTAL</div>
            <div class="col text-right">137.00 €</div>
          </div> <button class="btn">VALIDER LE PANIER</button>
        </div>
      </div>
    </div>
  </div>
</body>
