<app-header class="sticky-top"></app-header>
<div class="global">
<div class="container-bread">
  <div class="bread container">
    <nav
      style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
      aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item cursor" routerLink="/">Accueil</li>
        <li class="breadcrumb-item active" aria-current="page">Panier</li>
      </ol>
    </nav>
  </div>
</div>
<div class="container">
  <app-logo></app-logo>
  <div class="card">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <app-stepper></app-stepper>
            <div class="col">
              <h2><b>PANIER</b></h2>
            </div>
          </div>
        </div>
        <hr>
        <div *ngFor="let product of products; let i = index" class="row border-bottom">
          <div class="row main align-items-center text-align-center">
            <div class="col-2">
              <img
              *ngIf="product.productImages.length"
              src="https://localhost:8000/images/products/{{
                product.productImages[0].path
              }}"
              class="img-fluid"
              alt="{{ product.reference }}"
              />
            </div>
            <div class="col">
              <div class="row justify-content-center">{{ product.brand.name }}</div>
              <div class="row justify-content-center">{{ product.reference }} - {{ product.color_code }}</div>
            </div>
            <div class="col">
              <a class="pointer" (click)="decreaseQuantity(product)">-</a>
              <a type="number">{{ product.quantityOrdered }}</a>
              <a class="pointer" (click)="increaseQuantity(product)">+</a>
            </div>
            <div class="col">{{ product.selling_price }} €</div>
            <div class="col close pointer" (click)="removeItem(product)">&#10005;</div>
          </div>
        </div>
        <div class="back-to-shop pointer" routerLink="/">&leftarrow; Retour à l'accueil
        </div>
      </div>
      <div class="col-md-4 summary">
        <div class="title">
          <h5><b>Récapitulatif</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">{{ productsQuantity }}</div>
          <div class="col text-right">{{ grandTotal.toFixed(2) }} €</div>
        </div>
        <form>
          <p>LIVRAISON</p>
          <select>
            <option class="text-muted" value="5">Livraison Standard - 5.00 €</option>
          </select>
<!--             <p>CODE PROMO</p> <input id="code" placeholder="Entrer votre code">-->
        </form>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL</div>
          <div class="col text-right">{{ grandTotal.toFixed(2) }} €</div>
        </div> <button class="btn">VALIDER LE PANIER</button>
      </div>
    </div>
  </div>
</div>
</div>
