$banner-button: #FBEADF;
$text-color-dark:#56474A;
$kaki: #87A397;

.global {
  min-height: 110vh;
  font-family: 'Raleway', sans-serif;
}

.container-bread {
  background-color: #FBEADF;
  line-height: 2.5em;
  margin: 15px 0px;
}

a {
  text-decoration: none;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.title {
  margin-bottom: 5vh;
  white-space: nowrap;

  @media screen and (max-width: (765px))
  {
    margin-bottom: 2vh;
  }
}

.card {
  margin: auto;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.04);
  border-radius: .5rem;
  border: transparent;
  margin-top: 2em;

  @media screen and (max-width: (1400px))
  {
    max-width: 850px;
  }

  @media screen and (max-width: (1300px))
  {
    max-width: 740px;
  }
}

@media(max-width:767px) {
  .card {
      margin: 3vh auto;
  }
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media(max-width:767px) {
  .cart {
      padding: 2vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: .5rem;
  }
}

.summary {
  background-color: $banner-button;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding: 3.5vh;
  color: rgb(65, 65, 65);
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: .5rem;
  }
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
  text-decoration: none;
}

a {
  padding: 0 1vh
}

.close {
  margin-left: auto;
  font-size: 1rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;

  @media screen and (max-width: (765px))
  {   margin-top: 1.5rem;
  }
}

h5 {
  margin-top: 1vh;
}

hr {
  margin-bottom: 2.25rem;
  margin-top: 4vh;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
  font-size: 80%;

    @media screen and (max-width: (1200px))
    {
      font-size: 75%;
    }

    @media screen and (max-width: (768px))
    {
      font-size: 100%;
    }
}

.small {
  font-size: 13px;
  text-decoration-line: UNDERLINE;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

.btn {
  background-color: $kaki;
  color: white;
  width: 100%;
  font-size: 15px;
  margin-top: 4.5rem;
  padding: 1vh;
  border-radius: 0;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

@media screen and (max-width: (765px))
{
  .container {
    max-width: 846px;
  }

  body {
    padding-top: 0em;
  }
}

.container {
  display: flex;
  padding-top:50px
}
