@use '../../../scss/custom' as *;

.container {
  border: solid red;
  align-content: space-between;
}

// SCSS LOGO
h1 {
  font-size: 50px;
  position: absolute;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 2%;
}

.pointer {
  cursor: pointer;
}

.display.font-weight-bold {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
// FIN SCSS LOGO

.discount {
  background-color: $secondary-contrast;
  color: $secondary;
  margin-right: 85%;
  padding: 5px;
}

.col-2 {
  border: solid rgb(15, 27, 196);

}
