<app-header class="sticky-top"></app-header>
<app-categories></app-categories>

<div class="container mb-5" *ngIf="product">
  <div class="row">

    <div class="col col-lg-2 mt-5">
      <app-logo></app-logo>
    </div>

    <div class="col-10 col-md-5 d-flex justify-content-center">
      <div id="carouselExampleDark" class="carousel carousel-dark slide m-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../../assets/uploads/testProductPage.jpg" class="d-block image" alt="...">

          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/uploads/testProductPage2.jpg" class="d-block image" alt="...">

          </div>
          <div class="carousel-item">
            <img src="../../../assets/uploads/testProductPage3.jpg" class="d-block image" alt="...">
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
      </div>

    </div>

    <div class="col-lg-5 col-md-5 col-10 container">
      <div class="mt-5 ms-4">

        <!-- Catégorie -->
        <div class="boxes category"> {{ product.segment.name }} </div>

        <!-- % réduction -->
        <div class="discount d-flex justify-content-center" *ngIf="((product.retail_price - product.selling_price) * -100 / product.retail_price) > 0"> + {{ ((product.retail_price - product.selling_price) * -100 / product.retail_price).toFixed(0) }} %</div>
        <div class="discount d-flex justify-content-center" *ngIf="((product.retail_price - product.selling_price) * -100 / product.retail_price) <= 0">- {{ ((product.retail_price - product.selling_price) * 100 / product.retail_price).toFixed(0) }} %</div>

        <!-- Marque -->
        <div class="boxes capitalize">
          <h2> {{ product.brand.name }} </h2>
        </div>

        <div class="boxes">
          <!-- Référence -->
          <p class="reference">Ref : {{ product?.reference }}</p>
          <!-- Vendeur -->
          <p class="reference"> !! Vendu par : Quelqu'un !!</p>
        </div>

        <div class="boxes d-flex justify-content-between details">
          <div>
            <p class="capitalize">Couleur : {{ product.color.name }}</p>
            <p class="capitalize">Matériau : {{ product.material.name }}</p>
            <p class="capitalize">État : {{ product?.state }}</p>
          </div>
          <div>
            <button class="modal-trigger" type="button" data-bs-toggle="modal" data-bs-target="#detailsModal">
            Plus de détails</button>
          </div>
        </div>
        <div class="boxes mt-4">
          <div class="retail-price">Prix magasin : {{ product?.retail_price }} €</div>
          <div class="selling-price">Prix Optic Privé : {{ product?.selling_price }} €</div>
        </div>
        <div class="button"><button class="btn btn-primary big-btn" (click)="addtocart(product)">AJOUTER AU PANIER</button></div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true" *ngIf="product">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Détails du produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <div>
            <span class="title">Catégorie</span><span class="capitalize"> {{ product?.category }} </span>
          </div>
          <div>
            <span class="title">Style</span><span class="capitalize"> {{ product.style.name }} </span>
          </div>
          <div>
            <span class="title">Forme</span><span class="capitalize"> {{ product.shape.name }} </span>
          </div>
          <div>
            <span class="title">Code couleur</span><span class="capitalize"> {{ product?.color_code }} </span>
          </div>
        </div>

        <div class="mb-3">
          <div>
            <span class="title">Taille des verres</span><span> {{ product?.eye_size }} </span>
          </div>
          <div>
            <span class="title">Taille du pont</span><span> {{ product?.bridge_size }} </span>
          </div>
          <div>
            <span class="title">Taille des branches</span><span> {{ product?.temple_length }} </span>
          </div>
        </div>

        <div>
          <div>
            <span class="title">Type de verres</span><span class="capitalize"> {{ product.lens_type.name }} </span>
          </div>
          <div>
            <span class="title">Filtration UV</span><span class="capitalize"> {{ product?.uv_protection }} </span>
          </div>
        </div>


      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
      </div> -->
    </div>
  </div>
</div>
