@use '../../../scss/custom' as *;

p {
  margin: 0px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

.discount {
  background-color: $secondary-contrast;
  color: $secondary;
  padding: 5px;
  width: 60px;
}

.boxes {
  margin: 15px 0px;
  line-height: 1.6;
}

.details {
  font-size: 16px;
  margin-right: 20%;
}

.category {
  font-weight: 500;
  font-size: 14px;
  margin-top: 0;
}

.reference {
  font-weight: 600;
  font-size: 14px;
}

.retail-price {
  font-size: 20px;
  text-decoration-line: line-through;
}

.selling-price {
  font-weight: bold;
  font-size: 28px;
}

.modal-trigger {
  border: none;
  background: none;
  text-decoration: underline;
}

.modal-trigger:hover {
  font-size: 1.12rem;
}

.modal-content {
  border: none;
  border-radius: 0px;
}

.image {
  width: auto;
  height: 380px;
}

@media screen and (max-width: (992px))
{
  .image {
    width: auto;
    height: 300px;
  }

  .boxes {
    margin: 10px 0px;
    line-height: 1.6;
  }

  h2 {
    font-size: 30px;
  }

  .details {
    font-size: 12px;
    // margin-right: 20%;
  }

  .retail-price {
    font-size: 15px;
  }

  .selling-price {
    font-size: 20px;
  }
}

@media screen and (max-width: (768px))
{
  .image {
    width: auto;
    height: 330px;
  }

  .boxes {
    margin: 20px 0px;
  }

  h2 {
    font-size: 35px;
  }

  .details {
    font-size: 16px;
  }

  .retail-price {
    font-size: 16px;
  }

  .selling-price {
    font-size: 22px;
  }

  .button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }


}
