@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@400;600&display=swap');/* Banner css FBEADF */
$banner-button: #FBEADF;
$text-color-dark:#56474A;
$kaki: #87A397;

body {

  .navbar>.container-fluid {
      // display: flex;
      // flex-wrap: inherit;
      align-items: self-end;
      // justify-content: space-between;
  }

  .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    vertical-align: -0.3em;
  }

  .navbar {
      background-color: $kaki!important;
  }

  a:hover {
      color: $text-color-dark!important;
  }

  .navbar-brand {
  margin-right: 1rem;
  padding-bottom: 0;
  }

  .text-decoration-none {
      margin-right: 0.8em;
      margin-left: 0.4em;
  }

  .svg {
      fill: $banner-button;
  }

  button {
      box-shadow: none !important;
  }

  .form-control {
  border-top: 1em;
  border-right: none;
  border-left: none;
  border-radius: 0%;
  box-shadow: none !important;
  background: none;
  }

  .navbar-dark .navbar-nav .nav-link {
  color: $banner-button;
  }

  .navbar-nav {
    padding-left: 1em;
  }

  ul {
    margin-top: 1em;
  }

  .dropdown-item {
  color: $text-color-dark;
  }

  i {
    font-size: 1.7rem;
    color: $banner-button;
  }

  input {
    padding-top: 1.2em;
    height: 100%;
  }

  input::placeholder  {
    color: $banner-button;
  }

  .d-flex {
    padding-bottom: 7px;
  }
}

/* STYLE MODAL */
.modal-header {
  border-bottom: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: $banner-button;
  border: none;
  border-radius: 0px;
}

.modal-body {
  .btn-primary {
      background-color: $kaki;
      border: none;
      border-radius: 0%;
      color: $text-color-dark;
      box-shadow: none !important;
  }
}

.modal-img {
  width: 100%;
  height: 100%;
}

.login-box {
  padding: 0px;
}

.modal-client {
  margin: 30px;

  input {
      margin: 10px 0px;
      border-radius: 0px;
      border: none;
      box-shadow: none !important;
  }

  p {
      font-size: 20px;
      color: $text-color-dark;
  }

  a {
      color: $text-color-dark;
  }
}

button {
  box-shadow: none !important;
  background-color: transparent;
  border: none;
}

.modal-client input {
  background-color: white;
}
