<app-header></app-header>

<h1 class="display">Optic Privé</h1>

<div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-8 container justify-content-center my-5">
  <h2>Créer un compte</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="my-4">
      <input name="userName" type="text" [(ngModel)]="model.userName"class="form-control" placeholder="Pseudo" required="required">
    </div>
    <div class="my-4">
      <input name="email" type="email" [(ngModel)]="model.email" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="my-4">
      <input name="password" type="password" [(ngModel)]="model.password" class="form-control" placeholder="Mot de passe" required="required">
      <div class="form-text">8 caractères minimum</div>
    </div>
    <div class="my-4 form-check">
      <input type="checkbox" class="form-check-input" id="check1">
      <label class="form-check-label" for="check1">J'ai lu et j'accepte les conditions générales d'utilisation</label>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary big-btn m-4">Inscription</button>
    </div>
  </form>
</div>
