@use '../../../scss/custom' as *;

h1 {
  font-size: 50px;
  position: absolute;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 2%;
}

.display {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

input {
  border-radius: 0px !important;
  border: none !important;
}

.container {
  border: solid 1px $secondary;
  border-radius: 10px;
  background-color: $secondary;
}

h2 {
   text-align: center;
   margin: 40px 0px;
}

form {
  margin : 40px;
}


@media screen and (max-width: (765px))
{
  h1 {
    font-size: 30px;
    position: absolute;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 2%;
  }

  form {
    margin : 10px;
  }
}
