.display.font-weight-bold {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

h1 {
  // padding: 100px 0px 0px 0px;
  font-size: 40px;
  position: absolute;
  font-weight: 600;
  white-space: nowrap;
  margin-top: 2%;
}
