<app-header></app-header>
<div class="global space-lg">
  <div class="container-bread">
    <div class="bread container">
      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item cursor" routerLink="/">Accueil</li>
          <li class="breadcrumb-item cursor" routerLink="/panier">Panier</li>
          <li class="breadcrumb-item active" aria-current="page">Livraison</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container">
    <app-logo></app-logo>
    <div class="card">
      <div class="row">
        <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <app-stepper [selectedIndex]="1"></app-stepper>
              <div class="col">
                <h2><b>LIVRAISON</b></h2>
              </div>
            </div>
          </div>
          <form>
            <!-- <select class="form-select" aria-label="Default select example">
              <option selected *ngFor="let shippingOption of shippingOptions">{{shippingOption.name}}</option>
            </select> -->
            <div class="form-check form-group" *ngFor="let shippingOption of shippingOptions">
              <input
              class="form-check-input"
              type="radio"
              name="shippingOption"
              id="shippingOption"
              [value]="shippingOption.id"
              (change)="changeShippingOption($event)"
              [checked] = "shippingOption.id == cartService.getShippingPrice().id"
              />
              <label class="form-check-label" for="flexRadioDefault1">
                {{shippingOption.name}} : {{shippingOption.price}} €
              </label>

            </div>

          </form>
          <div class="back-to-shop cursor" routerLink="/panier">&leftarrow; Précédent
          </div>
        </div>
        <div class="col-md-4 summary">
          <div>
            <h5><b>Récapitulatif</b></h5>
          </div>
          <hr>
          <div class="row">
            <div class="col" style="padding:1vh;">Il y a {{ productsQuantity }} articles dans le panier.</div>
          </div>
          <div class="row" style="padding: 3vh 0;">
            <div class="col bold">Livraison :</div>
            <div class="col text-right">{{ price }} € </div>
          </div>
          <div class="row" style="padding: 1vh 0;">
            <div class="col">TOTAL :</div>
            <div class="col text-right">{{ (grandTotal + price).toFixed(2) }} €</div>
          </div>
          <button class="btn" routerLink="/recapitulatif">CONTINUER</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function getOption() {
      selectElement = document.querySelector('#select1');
      output = selectElement.value;
      document.querySelector('.output').textContent = output;
  }
  </script>
<pre>
  {{shippingOptions|json}}
</pre>
