<app-header></app-header>
<div class="global space-lg">
  <div class="container-bread">
    <div class="bread container">
      <nav
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item cursor" routerLink="/">Accueil</li>
          <li class="breadcrumb-item cursor" routerLink="/panier">Panier</li>
          <li class="breadcrumb-item cursor" routerLink="/livraison">Livraison</li>
          <li class="breadcrumb-item active" aria-current="page">Récapitulatif</li>

        </ol>
      </nav>
    </div>
  </div>

  <div class="container">
    <app-logo></app-logo>
    <div class="card">
      <div class="row">
        <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <app-stepper [selectedIndex]="1"></app-stepper>
              <div class="col">
                <h2><b>COMMANDE PAR VENDEUR</b></h2>
              </div>
            </div>
          </div>
            <div class="row">
              <br class="col">
                <h6>VENDEUR : OPTIC MADELEINE</h6>
                  <span>LIVRAISON : {{ price }} €</span> <br>
                  <span>SOUS-TOTAL : {{ grandTotal.toFixed(2) }} €</span>
            </div>
          <div class="back-to-shop cursor" routerLink="/livraison">&leftarrow; Précédent
          </div>
        </div>
        <div class="col-md-4 summary">
          <div>
            <h5><b>Récapitulatif</b></h5>
          </div>
          <hr>
          <div class="row">
            <div class="col" style="padding:1vh;">Il y a {{ productsQuantity }} articles dans le panier.</div>
          </div>
          <div class="row" style="padding: 3vh 0;">
          </div>
          <div class="row" style="padding: 1vh 0;">
            <div class="col">TOTAL :</div>
            <div class="col text-right">{{ grandTotal.toFixed(2) }} €</div>
          </div>
          <button class="btn" routerLink="/connexion">CONTINUER</button>
        </div>
      </div>
    </div>
  </div>
</div>
