<app-header class="sticky-top"></app-header>

<div class="container-bread">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item cursor" routerLink="/">Accueil</li>
        <li class="breadcrumb-item active" aria-current="page">Concept</li>
      </ol>
    </nav>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center top">
    <div class="col-8 col-sm-10 col-md-8 col-lg-6 d-flex align-items-center justify-content-between my-4 title">
      <img src="../../../assets/uploads/concept.jpg" alt="">
      <h2>Notre concept</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-4">
    <div class="col-2">
      <app-logo></app-logo>
    </div>
    <div class="col-10 col-md-8 col-lg-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, nunc vel fringilla pellentesque, felis quam dignissim risus, id mollis neque enim bibendum mi. In mollis interdum dui et molestie. Curabitur purus est, dignissim a gravida sed, venenatis eget sem. Proin ac placerat felis. Morbi nec felis massa. Morbi lobortis semper gravida. Curabitur et porttitor nibh. Donec egestas vestibulum felis, sit amet commodo est posuere non. Mauris enim urna, vestibulum fringilla laoreet quis, consequat eu nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce tincidunt lorem non velit finibus, nec tempus odio volutpat.</p>
      <br>
      <p>Maecenas ut sem posuere, ornare nulla in, mollis enim. Nunc vulputate tortor nec viverra volutpat. Pellentesque a magna non urna lobortis tempus. Aliquam blandit tellus id neque consectetur mattis. In blandit semper scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec bibendum ante id turpis eleifend aliquam ac consequat eros. Integer arcu lectus, hendrerit et est vel, fringilla tristique ligula.</p>
      <br>
      <p>Quisque lacus tellus, rhoncus congue nibh sit amet, bibendum sagittis tortor. Etiam varius nisl vestibulum nulla interdum, tristique scelerisque ex ultricies. Aliquam nec ligula eu dolor mollis interdum et quis mi. Donec viverra hendrerit libero sed viverra. Ut vitae accumsan risus. Donec vestibulum, tortor et ultricies porttitor, enim libero pretium sem, et malesuada lorem tellus eget ex. Curabitur gravida imperdiet velit et iaculis. Donec imperdiet felis augue, vel tristique libero vulputate nec. Vivamus in dolor quis sapien facilisis elementum eu vitae odio. Proin dignissim eros nec lectus ultrices viverra.</p>
    </div>
  </div>
</div>
