<body>
  <nav
    class="navbar navbar-expand-lg justify-content-between d-none d-lg-block" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'"
  >
    <div class="container box-search">
      <div class="">
        <form class="d-flex">
          <button class="btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
          <input
            class="form-control me-2"
            type="search"
            placeholder="Recherche"
            aria-label="Search"
          />
        </form>
      </div>

      <div class="part-rigth">
        <div>
          <!-- Button trigger modal -->
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            SE CONNECTER
          </button>
        </div>
        <div>
          <button routerLink="panier" class="cart-button">
            <i class="bi bi-bag"></i>
          <div class="badge bg-primary position-absolute">{{ productsQuantity }}</div>
          </button>
        </div>
        <div class="d-flex justify-content-end align-items-center">
          <a href="#">FR</a>
          <p>|</p>
          <a href="#">EN</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Modal 1 -->
  <div
    class="modal fade"
    id="loginModal"
    tabindex="-1"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row justify-content-evenly login-box">
              <div class="col-md-6 blok">
                <img
                  class="modal-img"
                  src="assets/uploads/montagne.jpg"
                  alt=""
                />
              </div>

              <div class="col-md-6 blok">
                <div class="modal-client">
                  <p>DÉJÀ CLIENT ?</p>
                  <form (ngSubmit)="onSubmit()" method="post">
                    <div class="form-group">
                      <input
                        name="email"
                        type="email"
                        [(ngModel)]="user.email"
                        class="form-control"
                        placeholder="Email"
                        required="required"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        name="password"
                        type="password"
                        [(ngModel)]="user.password"
                        class="form-control"
                        placeholder="Mot de passe"
                        required="required"
                      />
                    </div>
                    <div class="form-group">
                      <button
                        type="submit"
                        (click)="login()"
                        class="btn btn-primary btn-block big-btn"
                      >
                        Connexion
                      </button>
                    </div>
                    <div class="form-group">
                      <a href="#" target="_blank">Mot de passe oublié ?</a>
                    </div>
                  </form>
                </div>

                <div class="modal-client">
                  <p>NOUVEAU CLIENT ?</p>
                  <div class="form-group">
                    <!-- Button trigger modal -->
                    <button
                      class="btn btn-primary big-btn"
                      data-bs-target="#registrationModal"
                      data-bs-toggle="modal"
                      data-bs-dismiss="modal"
                    >
                      Inscription
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div
    class="modal fade"
    id="registrationModal"
    aria-hidden="true"
    aria-labelledby="registrationModalLabel"
    tabindex="-1"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container justify-content-center m-5">
            <h2>Créer un compte</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="my-4">
                <input
                  name="userName"
                  type="text"
                  [(ngModel)]="model.userName"
                  class="form-control"
                  placeholder="Pseudo"
                  required="required"
                />
              </div>
              <div class="my-4">
                <input
                  name="email"
                  type="email"
                  [(ngModel)]="model.email"
                  class="form-control"
                  placeholder="Email"
                  required="required"
                />
              </div>
              <div class="my-4">
                <input
                  name="password"
                  type="password"
                  [(ngModel)]="model.password"
                  class="form-control"
                  placeholder="Mot de passe"
                  required="required"
                />
                <div class="form-text">8 caractères minimum</div>
              </div>
              <div class="m- form-check">
                <input type="checkbox" class="form-check-input" id="check1" />
                <label class="form-check-label" for="check1"
                  >J'ai lu et j'accepte les conditions générales
                  d'utilisation</label
                >
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary big-btn m-4">
                  Inscription
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
