<nav class="navbar navbar-expand-lg justify-content-between d-none d-lg-block">
  <div class="container box-search">
    <div>
<!--       <form class="d-flex">
        <button class="btn" type="submit">
          <i class="bi bi-search"></i>
        </button>
        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search"/>
      </form> -->
    </div>
    <div class="part-rigth">
      <div>
        <!-- Button trigger modal -->
        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal">
          SE CONNECTER
        </button>
      </div>
      <div>
        <button routerLink="panier" class="cart-button">
          <i class="bi bi-bag fs-3"></i>
        <div class="badge bg-primary position-absolute rounded-circle">{{ productsQuantity }}</div>
        </button>
      </div>
      <div class="d-flex justify-content-end align-items-center">
<!--         <a href="#">FR</a>
        <p>|</p>
        <a href="#">EN</a> -->
      </div>
    </div>
  </div>
</nav>
