<nav class="navbar navbar-expand-lg justify-content-between d-none d-lg-block">
  <div class="container box-search">
    <div class="part-rigth">
      <div>
        <!-- Button trigger modal -->
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
          *ngIf="message == 'connexion'"
          id="js-login-open"
        >
          SE CONNECTER
        </button>
        <button
          type="button"
          *ngIf="!(message == 'connexion')"
          (click)="goToProfile()"
        >
          MON COMPTE
        </button>
        <button
          type="button"
          *ngIf="!(message == 'connexion')"
          (click)="logout()"
        >
          SE DÉCONNECTER
        </button>
      </div>
      <div>
        <button routerLink="/panier" class="cart-button">
          <i class="bi bi-bag fs-3"></i>
          <div class="badge bg-primary position-absolute rounded-circle">
            {{ productsQuantity }}
          </div>
        </button>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <!--         <a href="#">FR</a>
        <p>|</p>
        <a href="#">EN</a> -->
      </div>
    </div>
  </div>
</nav>
