<app-header class="sticky-top"></app-header>
<app-categories></app-categories>
<app-breadcrumb></app-breadcrumb>

<div class="container recent-product">
  <div class="news">
    <h4> Les bonnes affaires</h4>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="list-style: none">
    <li *ngFor="let product of products">

      <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Product",
          "name": "{{ product.brand.name }} {{ product?.reference }}",
          "image": [
            "http://localhost:8000/images/products/{{ imagePath1 }}",
            "http://localhost:8000/images/products/{{ imagePath2 }}",
            "http://localhost:8000/images/products/{{ imagePath3 }}"
          ],
          "brand": {
            "@type": "Brand",
            "name": "{{ product.brand.name }}"
          },
          "offers": {
            "@type": "Offer",
            "priceCurrency": "EUR",
            "price": "{{ product?.selling_price }}",
            "itemCondition": "{{ product.state }}",
            "availability": "{{ product.itemAvailability }}"
          }
        }
      </script>

      <div class="col">
        <div class="card h-100">
          <div class="cart-relative">
            <a [routerLink]="['/produit', product.id]">
              <img
                *ngIf="product.productImages.length"
                src="https://localhost:8000/images/products/{{
                  product.productImages[0].path
                }}"
                class="card-img-top"
                alt="{{ product.reference }}"
              />
            </a>
            <p class="top-right" *ngIf="((product.retail_price - product.selling_price) * -100 / product.retail_price) > 0">+ {{ ((product.retail_price - product.selling_price) * -100 / product.retail_price).toFixed(0) }} %</p>
            <p class="top-right" *ngIf="((product.retail_price - product.selling_price) * -100 / product.retail_price) <= 0">- {{ ((product.retail_price - product.selling_price) * 100 / product.retail_price).toFixed(0) }} %</p>
            <button
              type="button"
              class="btn cart-icon"
              (click)="addtocart(product)"
            >
              <i class="bi bi-bag-plus"></i>
            </button>
          </div>
          <div class="card-body">
            <a [routerLink]="['/produit', product.id]">
              <h5 class="card-title"> {{ product.brand.name }} </h5>
              <p > (Ref : {{ product.reference }}) </p>
              <span> <s> {{ product.retail_price }} € </s> </span>
              <span class="selling_price"> {{ product.selling_price }} € </span>
            </a>
          </div>
        </div>
      </div>
    </li>
  </div>
</div>
