<app-header class="sticky-top"></app-header>

<h2>Conditions générales de vente</h2>

<div class="container">
  <div class="row p-4">
    <div class="col-2">
      <app-logo></app-logo>
    </div>
    <div class="col-10 col-md-8 col-lg-8">
      <p>PREAMBULE

        Le Vendeur est éditeur de Produits et Services de XXX à destination de consommateurs, commercialisés par l’intermédiaire de ses sites Internet (https://siteweb.com ). La liste et le descriptif des biens et services proposés par la Société peuvent être consultés sur les sites susmentionnés.

        NOTE: L’activité de la société est présentée et explicitée de même que la destination des produits -ces obligations sont imposées par l’art. L111-1 code conso.

        Article 1 : Objet Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la vente en ligne de Produits ou Services proposés par le Vendeur.

        NOTE: On détaille ici l’objet du contrat qui est la vente en ligne de Produits et de Services par le Vendeur

        Article 2 : Dispositions générales Les présentes Conditions Générales de Vente (CGV) régissent les ventes de Produits ou de Services, effectuées au travers des sites Internet de la Société, et sont partie intégrante du Contrat entre l’Acheteur et le Vendeur. Elles sont pleinement opposables à l’Acheteur qui les a acceptés avant de passer commande.</p>
      <br>
      <p>PREAMBULE

        Le Vendeur est éditeur de Produits et Services de XXX à destination de consommateurs, commercialisés par l’intermédiaire de ses sites Internet (https://siteweb.com ). La liste et le descriptif des biens et services proposés par la Société peuvent être consultés sur les sites susmentionnés.

        NOTE: L’activité de la société est présentée et explicitée de même que la destination des produits -ces obligations sont imposées par l’art. L111-1 code conso.

        Article 1 : Objet Les présentes Conditions Générales de Vente déterminent les droits et obligations des parties dans le cadre de la vente en ligne de Produits ou Services proposés par le Vendeur.

        NOTE: On détaille ici l’objet du contrat qui est la vente en ligne de Produits et de Services par le Vendeur

        Article 2 : Dispositions générales Les présentes Conditions Générales de Vente (CGV) régissent les ventes de Produits ou de Services, effectuées au travers des sites Internet de la Société, et sont partie intégrante du Contrat entre l’Acheteur et le Vendeur. Elles sont pleinement opposables à l’Acheteur qui les a acceptés avant de passer commande.</p>
    </div>
  </div>
</div>
