<!-- Modal 1 -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #elemLoginClose
        ></button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row justify-content-evenly login-box">
            <div class="col-md-6 blok">
              <img class="modal-img" src="assets/uploads/montagne.jpg" alt="" />
            </div>

            <div class="col-md-6 blok">
              <div class="modal-client">
                <p>DÉJÀ CLIENT ?</p>
                <form
                  novalidate
                  (ngSubmit)="login(loginForm)"
                  #loginForm="ngForm"
                >
                  <div class="form-group">
                    <input
                      name="email"
                      type="email"
                      [(ngModel)]="user.email"
                      class="form-control"
                      placeholder="Email"
                      #emailVar="ngModel"
                      required="required"
                      email
                      [ngClass]="{
                        'is-invalid': emailVar.touched && !emailVar.valid
                      }"
                    />
                    <div class="invalid-feedback">
                      <span *ngIf="emailVar.errors"> Email non valide</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      name="password"
                      type="password"
                      [(ngModel)]="user.password"
                      class="form-control"
                      placeholder="Mot de passe"
                      required
                      #passwordVar="ngModel"
                      [ngClass]="{
                        'is-invalid': passwordVar.touched && !passwordVar.valid
                      }"
                    />
                    <div class="invalid-feedback">
                      <span *ngIf="passwordVar.errors">
                        Mot de passe invalide
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      [disabled]="!loginForm.valid"
                      class="btn btn-primary btn-block big-btn">
                      Connexion
                    </button>
                  </div>
                  <div class="form-group">
                    <a href="#" target="_blank">Mot de passe oublié ?</a>
                  </div>
                </form>
              </div>

              <div class="modal-client">
                <p>NOUVEAU CLIENT ?</p>
                <div class="form-group">
                  <!-- Button trigger modal -->
                  <button
                    class="btn btn-primary big-btn"
                    data-bs-target="#registrationModal"
                    data-bs-toggle="modal"
                    data-bs-dismiss="modal"
                  >
                    Inscription
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div
  class="modal fade"
  id="registrationModal"
  aria-hidden="true"
  aria-labelledby="registrationModalLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #elemRegisterClose
        ></button>
      </div>
      <div class="modal-body">
        <div class="container justify-content-center m-5">
          <h2>Créer un compte</h2>
          <form
            novalidate
            (ngSubmit)="saveDatas(registerForm)"
            #registerForm="ngForm"
          >
            <div class="my-4">
              <input
                type="text"
                name="username"
                [(ngModel)]="model.username"
                class="form-control"
                placeholder="Pseudo"
                #usernameVar="ngModel"
                required
                minlength="3"
                [ngClass]="{
                  'is-invalid': usernameVar.touched && !usernameVar.valid
                }"
              />
              <div class="invalid-feedback">
                <span *ngIf="usernameVar.errors">
                  Entrez un pseudo, 3 caractères minimum
                </span>
              </div>
            </div>

            <div class="my-4">
              <input
                type="email"
                name="email"
                [(ngModel)]="model.email"
                class="form-control"
                placeholder="Email"
                #emailLoginVar="ngModel"
                required
                email
                [ngClass]="{
                  'is-invalid': emailLoginVar.touched && !emailLoginVar.valid
                }"
              />
              <div class="invalid-feedback">
                <span *ngIf="emailLoginVar.errors"> Email non valide</span>
              </div>
            </div>
            <div class="my-4">
              <input
                type="password"
                name="password"
                [(ngModel)]="model.password"
                class="form-control"
                placeholder="Mot de passe"
                #passwordLoginVar="ngModel"
                required
                minlength="8"
                [ngClass]="{
                  'is-invalid':
                    passwordLoginVar.touched && !passwordLoginVar.valid
                }"
              />
              <div class="invalid-feedback">
                <span *ngIf="passwordLoginVar.errors">
                  Mot de passe invalide, 8 caractères minimum
                </span>
              </div>
            </div>
            <div class="m- form-check">
              <input
                type="checkbox"
                [(ngModel)]="checkRules.rules"
                name="rules"
                class="form-check-input"
                id="check1"
                required
                #checkRulesVar="ngModel"
                [ngClass]="{
                  'is-invalid': checkRulesVar.touched && !checkRulesVar.valid
                }"
              />
              <label class="form-check-label" for="check1">
                <a
                  [routerLink]="['conditions-generales']"
                  target="_blanck"
                  class="conditions"
                >
                  J'ai lu et j'accepte les conditions générales d'utilisation</a
                ></label
              >
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="submit"
                [disabled]="!registerForm.valid"
                class="btn btn-primary big-btn m-4"
              >
                Inscription
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
