@use '../../../scss/custom' as *;

span.rotate {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: $primary-contrast;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: 200;
}

.icones {
  margin-top: 45px;
}

a {
  text-decoration: none;
}

a:hover {
  span.rotate {
    font-size: 25px;
  }

  img {
    height: 180px;
  }
}

.card-color {
    background-color: $primary;
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    align-items: flex-end;
}

img {
  height: 200px;
}

@media screen and (max-width: (1200px))
{
  .icones {
    margin-top: 100px;
  }
}

@media screen and (max-width: (992px))
{
  img {
    height: 150px;
  }
}

.box-image {
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

.icon-bg {
    color: $secondary-contrast;
    font-size: 2.5rem;
    background: $secondary;
    padding: 10px;
    border-radius: 10px;
}

.icon {
    p {
        color: $secondary-contrast;
        margin: 10px 0px;
    }

    a {
        text-decoration: none;
    }
}

.container {
    width: auto;
  }

.col {
    padding: 0px;
    margin: 0px;
}

// .icones {
//   margin-top: 100px;
// }
