<section class="banner-image d-none d-lg-block container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="box-image">
          <a href="#">
            <div class="card-color">
              <span class="rotate">Solaires</span>
              <img
                src="assets/uploads/solaires.jpg"
                alt="woman wearing sunglasses"
              />
            </div>
          </a>
          <a href="#">
            <div class="card-color">
              <span class="rotate">Sport</span>
              <img
                src="assets/uploads/sport.jpg"
                alt="man on a bike wearing sport sunglasses"
              />
            </div>
          </a>
          <a href="#">
            <div class="card-color">
              <span class="rotate">Lumière bleue</span>
              <img
                src="assets/uploads/lumiere_bleue.jpg"
                alt="woman in front of a laptop"
              />
            </div>
          </a>
          <a href="#">
            <div class="card-color">
              <span class="rotate">Vintage</span>
              <img
                src="assets/uploads/vintage.jpg"
                alt="woman wearing vintage sunglasses"
              />
            </div>
          </a>
          <a href="#">
            <div class="card-color">
              <span class="rotate">Accessoires</span>
              <img src="assets/uploads/accessoires.jpg" alt="glasses case" />
            </div>
          </a>
        </div>
      </div>
    </div>
</section>

<section class="icones d-lg-none d-sm-block mt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col icon">
        <a href="">
          <i class="bi bi-sunglasses icon-bg"></i>
          <p>Solaires</p>
        </a>
      </div>
      <div class="col icon">
        <a href="">
          <i class="bi bi-bicycle icon-bg"></i>
          <p>Sport</p>
        </a>
      </div>
      <div class="col icon">
        <a href="">
          <i class="bi bi-laptop icon-bg"></i>
          <p>Lumière bleue</p>
        </a>
      </div>
      <div class="col icon">
        <a href="">
          <i class="bi bi-eyeglasses icon-bg"></i>
          <p>Vintage</p>
        </a>
      </div>
      <div class="col icon">
        <a href="">
          <i class="bi bi-wallet-fill icon-bg"></i>
          <p>Accessoires</p>
        </a>
      </div>
    </div>
  </div>
</section>
