$primary:#87A397;
$secondary-clear: #F4FFFA!important;
$banner-button: #FBEADF;
$secondary-dark:#56474A;


footer {
  background-color: $primary;
  color: $secondary-clear;

  a.text-muted {
    color: $secondary-clear;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }
  .copy {
    padding-top: 1.5em !important;
  }

  .block-footer {
    padding-top: 3em !important;
  }
}
